[submodule "application"]
	path = application
	url = https://github.com/Iotiq-Erste/kimono-application.git
[submodule "commons"]
	path = commons
	url = https://github.com/Iotiq-Erste/commons-module.git
[submodule "user"]
	path = user
	url = https://github.com/Iotiq-Erste/users-module.git
